body {
  font-family: "ricty",
  "Helvetica Neue",
  Arial,
  "Hiragino Kaku Gothic ProN",
  "Hiragino Sans",
  Meiryo,
  sans-serif;
}

.wrapper {
  height: 1300px;
}
.header {
  background-color: #d24545ad;
  height: 80px;
  color: #fff;
  text-align: center;
}

h1 {
  margin: 0;
  padding-top: 20px;
}

h2 {
  font-size: 30px;
  padding-top: 50px;
}

h3 {
  font-size: 30px;
  padding-top: 50px;
}

.choice-list {
  height: 50px;
  display: flex;
  text-align: center;
  font-size: 25px;
}

.left-content {
  width: 50%;
  color: #e38382;
}

.right-content {
  width: 50%;
  color: #e38382;
}

.roulette {
  height: 600px;
  text-align: center;
}

.roulette-main {
  width: 70%;
  margin: 0 auto;
  background-color: #e38382;
  height: 500px;
}

.idea-section {
  height: 350px;
  text-align: center;
}

.roulette-list {
  height: 200px;
}

.roulette-list p {
  padding-top: 100px;
  color: #fff;
  font-size: 30px;
}

.roulette-list-bottom p {
  padding-top: 50px;
  color: #fff;
  font-size: 30px;
}

.symbol {
  color: #fff;
  font-size: 30px;
}

.idea-section {
  width: 100%;
}

.idea-form {
  width: 70%;
  margin: 0 auto;
  background-color: #e38382;
  height: 310px;
}

.idea-text {
  width: 70%;
  height: 200px;
  margin-top: 30px;
}

.create-btn {
  display: block;
  margin: 0 auto;
  margin-top: 30px;
}